.navbar{

position:fixed;

top:20px;

left:50%;

transform:translateX(-50%);

width:92%;

height:78px;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 40px;

background:rgba(255,255,255,.06);

-webkit-backdrop-filter: blur(20px);
backdrop-filter: blur(20px);
border:1px solid rgba(255,255,255,.15);

border-radius:22px;

z-index:1000;

box-shadow:0 8px 40px rgba(0,0,0,.35);

}

.logo{

display:flex;

align-items:center;

gap:14px;

font-size:24px;

font-weight:700;

letter-spacing:6px;

color:white;

cursor:pointer;

}

.logo-dot{

width:14px;

height:14px;

background:#3B82F6;

border-radius:50%;

box-shadow:

0 0 25px #3B82F6;

animation:pulse 2s infinite;

}

.nav-links{

display:flex;

gap:42px;

list-style:none;

color:white;

}

.nav-links li{

cursor:pointer;

transition:.35s;

font-size:15px;

letter-spacing:1px;

}

.nav-links li:hover{

color:#6EA8FF;

transform:translateY(-2px);

}

.nav-icons{

display:flex;

gap:22px;

font-size:22px;

color:white;

cursor:pointer;

}

.nav-icons svg{

transition:.3s;

}

.nav-icons svg:hover{

color:#6EA8FF;

transform:scale(1.2);

}

@keyframes pulse{

0%{

transform:scale(1);

}

50%{

transform:scale(1.25);

}

100%{

transform:scale(1);

}

}