.loader{

height:100vh;

background:#050816;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

overflow:hidden;

color:white;

font-family:sans-serif;

}

.eye{

width:180px;

height:180px;

border:3px solid white;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

margin-bottom:40px;

animation:pulse 2s infinite;

}

.iris{

width:70px;

height:70px;

background:#4F8CFF;

border-radius:50%;

box-shadow:0 0 40px #4F8CFF;

animation:rotate 6s linear infinite;

}

.loader h1{

font-size:72px;

letter-spacing:14px;

margin:10px;

}

.loader p{

opacity:.7;

letter-spacing:3px;

}

@keyframes pulse{

0%{

transform:scale(1);

}

50%{

transform:scale(1.08);

}

100%{

transform:scale(1);

}

}

@keyframes rotate{

100%{

transform:rotate(360deg);

}

}